/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }

body { line-height: 1 }

ol, ul { list-style: none }

blockquote, q { quotes: none }

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ========================================================
   Page
   =====================================================
   ================================================== */

body {
    background: #f8f6f6;
    color: #404040;
    font-family: 'Lucida Grande', Verdana, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
}

a {
    color: #1e7ad3;
    text-decoration: none;
}

a:hover { text-decoration: underline }

.container {
    margin: 50px auto;
    width: 680px;
}

/* ========================================================
   Icons
   =====================================================
   ================================================== */

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
}

.icon-add:before { content: "\e600"; }

.icon-save:before { content: "\e603"; }

.icon-close{
  margin-right: -4px;
  margin-top: -4px;
}
.icon-close:hover{
  text-decoration: none;
}
.icon-close:before { content: "\e604"; }

.icon-delete { 
  float: right;
  /*margin-top: 5px;*/
 }
 .icon-delete:before{ content: "\e601"; }
 .icon-setting:before{ content: "\e602"; }
/* ========================================================
   Paths List
   =====================================================
   ================================================== */
   .row-buttons{
    float: right;
    margin-top: 5px;
   }
   .row-buttons a{
    margin-left: 5px;
   }

.options {
    position: relative;
    margin: 0 auto;
    padding: 12px 0;
    background: #fff;
    border: 1px solid;
    border-color: #dfdcdc #d9d6d6 #ccc;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.options:before, .options:after {
    content: '';
    position: absolute;
    z-index: -1;
    height: 4px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.options:after {
    left: 0;
    right: 0;
    bottom: -3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.options:before {
    left: 2px;
    right: 2px;
    bottom: -5px;
    border-color: #c4c4c4;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.path-list { border-top: 1px solid #e6ebed }
.settings-list{ border-top: 1px solid #323232 }

.path-list:before,
.settings-list:before {
    content: '';
    width: 3px;
    z-index: 2;
    border: 1px solid #f2e3df;
    border-width: 0 1px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 35px;
}

.path-list li,
.settings-list li {
    position: relative;
    padding: 7px 15px 7px 50px;
    line-height: 21px;
    font-size: 12px;
    color: #8b8f97;
    border-bottom: 1px solid #e6ebed;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked + .toggle:after{
  opacity: 1;
}

.path-list .toggle,
.settings-list .toggle {
  display: block;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  text-indent: 100%;
  overflow: hidden;
  cursor: pointer;
}

.toggle:after {
  content: '';
  position: absolute;
  position: absolute;
  width: 7px;
  height: 3px;
  background: transparent;
  top: 14px;
  left: 13px;
  border: 2px solid #aaa;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  opacity: 0;
}

.path-list .toggle:before,
.settings-list .toggle:before {
    content: '';
    width: 15px;
    height: 15px;
    background: #faf9f9;
    border: 1px solid #6bb3ca;
    border-radius: 2px;
    position: absolute;
    top: 9px;
    left: 9px;
    -webkit-box-shadow: 0 1px 1px #dfecf4;
    box-shadow: 0 1px 1px #dfecf4;
}

.path-list .toggle:hover:before,
.settings-list .toggle:hover:before {
    -webkit-box-shadow: 0 0 3px #6bb3ca;
    box-shadow: 0 0 3px #6bb3ca;
}

.path-list .done .toggle:before, .path-list .toggle:active:before,
.settings-list .done .toggle:before, .settings-list .toggle:active:before {
    border-color: #c0c0c0 #ccc #d8d8d8;
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
}
.paths-controls {
    margin: 0 15px 12px 50px;
    height: 12px;
}

.paths-controls li { float: left }

.paths-controls li + li { margin-left: 10px }

.paths-controls .right { float: right }

.paths-controls a {
    display: block;
    margin: 0;
    opacity: .6;
}

.paths-controls a:hover { opacity: 1 }

.paths-footer {
    margin: 12px 12px 0 50px;
    height: 75px;
}

/*.paths-footer li { float: left }*/

.paths-footer .refresh { margin-top: -5px; }

.paths-footer .save { float: right }
.paths-footer .clear { float: left; }
.paths-footer .save i { margin: 0 0 0 2px }

.paths-footer a, .paths-footer span {
    display: block;
    line-height: 22px;
    font-size: 11px;
    color: #676f7f;
}

.paths-footer a {
    padding: 0 8px;
    text-shadow: 0 1px #fff;
    background: #f1f0f0;
    border-radius: 3px;
}

.paths-footer a:hover {
    background: #e9e9e9;
    text-decoration: none;
}
.paths-footer a:active {
    background: #cde5ef;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.paths-footer span {
    padding: 0 4px;
    opacity: .3;
}

/* ========================================================
   Add Form
   =====================================================
   ===================================================== */

.add-container, .row-setting-container {
  margin: 80px auto;
  width: 640px;
  position: absolute;
  top: 0;
  display: none;
}

.add-container .background,
.row-setting-container .background{
  background-color: #000000;
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.add-form {
  z-index: 3;
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  /*width: 310px;*/
  width: 100%
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

/*form[method=post]{
  width: 100%;
}*/

.add-form .right{ float: right; }

.add-form:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.add-form .path-header {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 1px white;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}
.add-form p {
  margin: 20px 0 0;
  
}
.add-form p:not(.submit){
  display: flex;
}
.add-form p:first-child {
  margin-top: 0;
}
.add-form input[type=text], .add-form input[type=url] {
  /*width: 278px;*/
  width: 100%;
}
.add-form p.remember_me {
  float: left;
  line-height: 31px;
}
.add-form p.remember_me label {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}
.add-form p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}
.add-form p.submit {
  text-align: right;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

input[type=text], input[type=url], input[type=number] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
input[type=number]{
  height: auto;
  width: 100px;
}
input[type=text]:focus, input[type=url]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

input[type=submit] {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}
input[type=submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}


#footer {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #DDDDDD;
    color: #999999;
    font-size: 0.8em;
    left: 0;
    margin: 0;
    padding: 20px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 1px #FFFFFF;
    top: 0;
}

.add-form aside{
  color: white;
}

textarea[name=code] {
  width: 100%;
  height: 200px;
}